{% extends 'base_accounts.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <h2>Sign up</h2>
    <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
     <button type="submit" class="btn btn-primary">Create an account</button>
    </form>
{% endblock %}